<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>

    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <link
      href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="login.css" />
  </head>

  <body>
    <div class="main-w3layouts wrapper">
      <h1>Workout Journal</h1>
      <div class="main-agileinfo">
        <div class="agileits-top index">
          <img
            src="https://www.healthcanal.com/wp-content/uploads/Benefits-Of-Riding-On-Stationary-Bike.jpg"
            alt=""
          />
          <a href="/login" class="links">Login</a> <br />
          <a href="/signup" class="links">Signup</a>
        </div>
      </div>
      <ul class="colorlib-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </body>
</html>
